html,body{
	
	background-color: #002D62 !important;
	color: white !important;

}

.titulo{
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px;
	font-size: 22px;
}

.carta{
	position:relative;
	width: 150px;
	left: 100px;
	margin-left: -75px;
}

#computadora-cartas, #jugador-cartas{
	height: 240px;
}

.titulos{
	margin-left:20px;
	margin-top:30px;
}